.contenttop{
    display: flex;
    flex-direction: column;
    
}

.videoclip{
display: flex;
position: absolute;
height: 359px;
margin-left: 15vh;
top: 183px;
width: 80%;
background: url(../images/topbarimages.jpg);

}
.video1{
    margin: auto;
    
}
.bottom1{
    margin-top: 30px;
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 37px 138px;
      
    position: absolute;
    
    top: 525px;
    
    background: #FFFFFF;
    box-shadow: 2px 5px 62px rgba(0, 0, 0, 0.82);
    border-radius: 20px;

    width: 252px;
    height: 39px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 30px;
    /* identical to box height */
    
    text-align: center;
    
    color: #517478;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media (max-width: 996px){
   
    .videoclip{
    top: 283px;
    margin-left: 20vh;
   
    
   
        
    }
 
  
    .bottom1{
        margin-top: 140px;
        margin-left:43vh;
        
    }

}

