.contentbottom{
display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 305px;
    width: 100%;
    height: 1550px;
   

background: #F4F2F2;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.detailleft{
    display: flex;
    flex-direction: column;
    align-items: center;

}

img.foto{
width: 50vw;  
height: auto;

filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
border-radius: 15px;
}

.detalle{
margin-top: 6%;
width: 95vw;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
display: flex;
flex-direction: column;
text-align: justify;
}

.textodetalle{
margin-top: 5%; 
margin-left: 10%; 
margin-right: 10%;  
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 25px;

}

.hojavida{
width: 92vw;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.detallehv{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: justify;
    color: #000000;
}

#detalleimagen{
    height: 15vv;
    width: 95vw;
    border-radius: 5%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
       
    
}

@media only screen and (min-width: 996px){
    .contentbottom{
        display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
position: absolute;
width: 100%;
height: 1000px;
left: 0%;
right: 0%;

       
        }

        img.foto{
            width: 20vw;  
            height: auto;
        }

        .detalle{
           
            width: 600px;
        }
        .textodetalle{
            
            font-weight: 500;
            font-size: 25px;
            line-height: 32px;
            
            }
            .hojavida{
                width: 400px;
            }
           
         
            .detallehv{
                margin-left: 5%;
                margin-right: 5%;
               
                font-weight: 200;
                font-size: 14px;
                line-height: 25px;
                
            }
            #detalleimagen{
                height: 15vv;
                width: 600px;
                border-radius: 5%;
                
                
            }
                     
        .form{
         
    margin-left: 32hv;
           
        }

}

